@{
    var adminarea = DHSetting.Current.AdminArea.ToLower();
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewBag.Title</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="~/static/admin/css/admin.css" asp-append-version="true">
    <link rel="stylesheet" href="~/static/plugins/js/jqueryui/jquery-ui.min.css" asp-append-version="true">
    <script src="~/static/plugins/jquery214.min.js" asp-append-version="true"></script>
    <script src="~/static/plugins/jquery.validate.min.js" asp-append-version="true"></script>
    <script src="~/static/plugins/jquery.cookie.js" asp-append-version="true"></script>
    <script src="~/static/plugins/common.js" asp-append-version="true"></script>
    <script src="~/static/admin/js/admin.js" asp-append-version="true"></script>
    <script src="~/static/plugins/js/jqueryui/jquery-ui.min.js" asp-append-version="true"></script>
    <script src="~/static/plugins/js/jqueryui/jquery.ui.datepicker-zh-CN.js" asp-append-version="true"></script>
    <script src="~/static/plugins/perfect-scrollbar.min.js" asp-append-version="true"></script>
    <script src="~/static/plugins/layer/layer.js" asp-append-version="true"></script>
    <script src="~/static/plugins/js/layui/layui.all.js" asp-append-version="true"></script>
    <script src="~/static/plugins/js/xm-select/xm-select.js" asp-append-version="true"></script>
    <script src="~/static/plugins/js/crypto/crypto.js" asp-append-version="true"></script>
    <link rel="stylesheet" href="~/static/plugins/js/layui/css/layui.css" asp-append-version="true"></link>

    <script type="text/javascript">
        var HOMESITEURL = "@DHSetting.Current.CurDomainUrl";
        var ADMINSITEURL = "/@adminarea";
        var ADMINSITEROOT = "/static/admin";
        var BASESITEURL = "@DHSetting.Current.CurDomainUrl";
         /** 计算hash  */
        function generateHash(str) {
            const pwdStr = str.match(/password=([^&]+)/);
            const hash = 'password=' + CryptoJS.MD5(pwdStr[1]).toString();
            const newStr = str.replace(/password=([^&]+)/, hash.toUpperCase());
            return newStr;
        };
        function generateHash2(str) {
            const hash = CryptoJS.MD5(str).toString().toUpperCase();
            return hash;
        };

    </script>
    @PekHtml.GenerateCssFiles()
    @PekHtml.GenerateScripts(ResourceLocation.Head)

    @PekHtml.GenerateInlineCss()
    @PekHtml.GenerateInlineScripts(ResourceLocation.Head)
</head>
<body>
    <div id="append_parent"></div>
    <div id="ajaxwaitid"></div>

    @RenderBody()

    @PekHtml.GenerateScripts(ResourceLocation.Footer)
    @PekHtml.GenerateInlineScripts(ResourceLocation.Footer)
</body>
</html>